.LoginModal-wrap
  display: hidden
  overflow: hidden
  position: fixed
  top: 0
  right: 0
  bottom: 0
  left: 0
  overflow-y: scroll

.LoginModal-overlay
  position: absolute
  top: 0
  left: 0
  width: 100vw
  background: transparentify(black, 0.8)
  display: flex
  justify-content: center

.LoginModal
  background: white
  width: 100%
  max-width: 780px
  margin: 2rem
  
  .group
    padding: 30px
  
.LoginModal-group-login
  background: #fafafa

