.LoginModal-overlay
  position: absolute
  top: 0
  bottom: 0
  left: 0
  right: 0
  background: transparentify(black, 0.8)
  display: flex
  justify-content: center
  align-items: center

.LoginModal
  background: white
  height: 75vh
  width: 50vw
  margin: 20px
