.Topbar
  padding: 1rem
  display: flex
  align-items: space-between
  background: #fff
  border-bottom: 1px solid #f0f0f0
  
  .group-left
    margin-right: auto
  
  .group-right
    flex: 1
    display: flex
    justify-content: flex-end
  
  .item:not(:last-child)
    margin-right: 1rem
