*
  font-family: Arial

input,
textarea
  width: 100%
  border-radius: 2px
  border: 1px solid #d6d6d6
  padding: 6px
  font-size: 14px
  background: #fcfcfc

input:hover,
input:focus,
input:active,
input:active:focus,
textarea:hover,
textarea:focus,
textarea:active,
textarea:active:focus
  box-shadow: inset 0px 0px 60px 0px rgba(255,255,255,1);
  border-color: #a0a0a0
  outline: none

button.Button
  border: 1px solid #d6d6d6
  border-bottom-width: 2px
  background: #fcfcfc
  border-radius: 2px
  padding: 6px 15px
  font-weight: bold
  color: #484848
  font-size: 14px

button.Button:hover
  cursor: pointer
  color: #000
  background: #fff
  border-color: #a0a0a0

button:hover
  cursor: pointer
